.grid{
	display:grid;
	grid-template: 10% auto/20% 10% 10% auto;
	grid-gap:20px;
	background-color: #f5deb3;
	margin: 5px;
	
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin:5px;
	border:1px solid black;
	grid-column: 1/span 4;
	background-color:#f4a460; 
}

.sidebar{
	grid-column:1/1;
	grid-row:2/auto;
	background-color: #f5f5dc;
}

.sidebar img{
	width:5%;
}

#resumePic{
	width:50%;
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainContent {
	/*display:flex;*/
	/*flex-direction: column;*/
	grid-column: 2 /span 3;
	grid-row: 2/2;
	justify-content: center;
	align-content:center;
}


.noBreak li{/*
	margin:0 10px;*/
	display: inline-block;
	margin-right:10px;
	text-align: justify;

}
p.align{

	margin:0 100px;
}

.border{
	border-top: 5px solid #d2b48c;
}
.year{
	font-weight:bold;
}

.italic p{
	font-style: oblique;

}
#split{
	column-count:2;
}